table {
    width: 600px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
tbody tr {
    border-bottom: 1px solid #cccccc;
}
tbody td{
    border-right: 1px solid #cccccc;
} 

th, td {
    padding: 5px
}

thead {
    background: #cccccc;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background: rgb(241, 241, 241);
}

tbody tr:nth-child(odd):hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

tr:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}