* {
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
    font-family: Georgia, serif;
}

.card {
    width: fit-content;
    max-width: 45%;
    box-shadow: 0px 0px 40px 0px rgb(0, 0, 0, 25%);
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card h3 {
    margin-top: 0;
}

.card-content {
    padding: 25px;
}

.card button {
    color: white;
    background: rgb(0, 153, 0);
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
}

.button-container {
    text-align: right;
}

.card img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    size: 1em;
    line-height: 1.2;
}